{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/device.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
</head>
<body>
    <div class="container">
        <a href="{% url 'dashboard' %}" class="btn-control">ControlPlay</a>
        <div class="Device">
            <p class="device-nome">{{ device.nome }}</p>
            <p class="device-address">{{ device.macAddress }}</p>
            {% if device.blocked %}
                <a href="{% url 'liberar' device.id %}" class="btn-liberar">liberar</a>
            {% endif %}
        </div>
    </div>
</body>
</html>